<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>
<!-- 拠点一覧　テーブル -->
<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th></th>
    <th></th>
    <th>拠点番号</th>
    <th>拠点名</th>
    <th>勤怠種類</th>
  </tr>
  
  <% @bases.each do |base| %>
  <tr>
    <!--  link_to "修正", base_points_path(id: base.id), class:"btn btn-primary" 以下と同義 -->
    <!--<td id="ac2"><%#= link_to "修正", base_points_path(params:{id: base.id}), class:"btn btn-primary" %></td>-->
    
    <!-- 拠点編集ボタン　アコーディオン　-->
    <td>
      <button type="button" data-toggle="collapse" data-target="#<%= base.id %>" class="btn btn-primary">編集</button>
    </td>
    <td><%= link_to "削除", base_point_path(base.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-primary" %></td>
    <td><%= base.base_number %></td>
    <td><%= base.base_name %></td>
    <td><%= base.base_type %></td>
  </tr>
  <tr>
    <td>
      <div class="collapse" id="<%= base.id %>">
        <%= form_for(base, url: "/base_points/#{base.id}", method: :patch) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
        
          <%= f.label :拠点番号 %>
          <%= f.number_field :base_number, class: 'form-control' %>
          
          <%= f.label :拠点名 %>
          <%= f.text_field :base_name, class: 'form-control' %>
          
          <%= f.label :勤怠種類 %>
          <%= f.text_field :base_type, class: 'form-control' %>
    
          <%= f.submit "修正", class: "btn btn-primary" %>
        <% end %>
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</table>

<table class="table table-bordered table-striped table-condensed">
  <tr>
    <td>
      <button type="button" class="btn btn-primary" id="ac1" autofocus="true">拠点情報の追加</button>
    </td>
  </tr>
</table>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="accordion1" >
      <%= form_for(@base, url: base_points_path, method: :post) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
  
        <%= f.label :拠点番号 %>
        <%= f.number_field :base_number, class: 'form-control' %>
  
        <%= f.label :拠点名 %>
        <%= f.text_field :base_name, class: 'form-control' %>
        
        <%= f.label :勤怠種類 %>
        <%= f.text_field :base_type, class: 'form-control' %>
  
        <%= f.submit "拠点追加", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>