<!-- 基本情報の修正ページ手動で作成 -->
<% provide(:title, "基本情報の更新") %>
<h1>基本情報の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%# 勤怠B：urlを指定しない場合、編集失敗時、アカウント情報ページに飛んでしまうため、urlを指定 %>
     <%= form_for(@user, url: basic_info_update_path, method: :post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :指定勤務時間 %>
      <%= f.time_field :designate_work_time, class: 'form-control' %>

      <%= f.label :基本勤務時間 %>
      <%= f.time_field :basic_work_time, class: 'form-control' %>
      
      <%= f.submit "編集", class: "btn btn-primary" %>
     <% end %>
  </div>
</div>