<%# リスト 10.37: ユーザーのindexビュー %>
<% provide(:title, 'ユーザー一覧') %>
<h1>ユーザー一覧</h1>

<!-- 勤怠A：csvファイルをアップロードする入力フィールドを追加 -->
<%= form_tag import_users_path, multipart: true, method: :post do %>
  <div class="file_search">
    <%= text_field_tag :filename, "", id: 'filename', disabled: true %>
    <%= file_field_tag :file, id: 'file_input', style: 'display: none', onchange: "file_selected($(this));" %>
    <%= button_tag "ファイルを選択", class: 'btn btn-primary', type: 'button', onclick: "$('#file_input').click();" %></br></br>
    <%#= submit_tag "csvをインポート", class: "btn btn-primary" %>
    <button type='submit', class='btn btn-primary'>csvをインポート</button>
  </div>
<% end %>

<ul class="users">
  <%= render @users %>
</ul>