<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <%# リスト 14.23: フォロワーの統計情報を追加する %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  
  <%# リスト 13.24: マイクロポストをユーザーのshowページ (プロフィール画面) に追加する %>
  <div class="col-md-8">
    <%# リスト 14.23: プロフィールページにフォロー用フォームを追加する %>
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>投稿 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>