<% provide(:title, @user.name) %>
<% require "time" %>
<div class="row">
  <!-- 勤怠表示画面　一番上のテーブル -->
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th colspan="1">
          <%= link_to "◀", user_path(params:{current_day: @last_month}), class: "btn btn-sm btn-primary" %> 
          <%= @current_day.year %>年 <%= @current_day.month %>月 時間管理表 
          <%= link_to "▶", user_path(params:{current_day: @next_month}), class: "btn btn-sm btn-primary" %>
        </th>
        <th>指定勤務時間 <%= basic_info_edit(@user.designate_work_time) %></th> <%# 勤怠B：basic_info_edit UsersHelperで定義 %>
        <th colspan="3">基本時間 <%= basic_info_edit(@user.basic_work_time) %></th>
        <th>初日 <%= @first_day.strftime("%m/%d") %></th>
      </tr>
      
      <tr>
        <th>所属 <%= @user.belong %></th>
        <th>氏名 <%= @user.name %></th>
        <th>コード</th>
        <th>123</th>
        <th>出勤日数</th>
        <th>締め <%= @last_day.strftime("%m/%d") %></th>
      </tr>
    </thead>
  </table>
  <br>
  <!-- 勤怠表示画面　勤怠編集ボタン -->
  <%= link_to "勤怠を編集", attendance_edit_path, class: "btn btn-primary" %>
  
  <!-- 勤怠表示画面　下のメインのテーブル -->
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
      </tr>
      
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
      </tr>
    </thead>
    <!-- 以下日付や曜日などデータ部分 -->
    <tbody>
      <% @date.each do |date| %>  <!-- 月初から月末までの繰り返しを変数dateに格納  -->
      <tr>
        <!-- 第一項：日付 -->
        <td><%= date.attendance_day.month %>/<%= date.attendance_day.day %></td>  <!-- 変数dateから月と日を取得 -->
        <!-- 第二項：曜日 -->
        <td><%= @week[date.attendance_day.wday] %></td>  <!-- wdayメソッドは、その日の曜日を数値で戻す。(日曜が0) -->
        <!-- 第三項：出社（hours) -->
        <td><%= date.beginning_time.hour if date.beginning_time != nil %></td>
        <!-- 第四項：出社（minitue）-->
        <td><%= date.beginning_time.min if date.beginning_time != nil %></td>
        <!-- 第五項：出社ボタン -->
        <td>
          <% if date.beginning_time.nil? && date.leaving_time.nil? && date.attendance_day == Date.today %>
          <%= button_to "出社", beginning_time_path %>
          <% end %>
        </td>
        <!-- 第六項：退社ボタン -->
        <td>
          <% if date.leaving_time.nil? && date.beginning_time != nil && date.attendance_day == Date.today %>
            
          <% end %>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>