<% provide(:title, @user.name) %>
<% require "time" %>
<div class="row">
  <!-- 勤怠表示画面　一番上のテーブル -->
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th colspan="1">
          <%= link_to_if overtime_test(@user, current_user), "◀", user_path(params:{current_day: @last_month}), class: "btn btn-sm btn-primary" %> 
          <%= @current_day.year %>年 <%= @current_day.month %>月 時間管理表 
          <%= link_to_if overtime_test(@user, current_user), "▶", user_path(params:{current_day: @next_month}), class: "btn btn-sm btn-primary" %>
        </th>
        <th>
          指定勤務開始時間 <%= basic_info_edit(@user.designate_work_time) %><br> <%# 勤怠B：basic_info_edit UsersHelperで定義 %>
          指定勤務終了時間 <%= basic_info_edit(@user.designate_end_time) %>
        </th>
        <th colspan="3">基本時間 <%= basic_info_edit(@user.basic_work_time) %></th>
        <th>初日 <%= @first_day.strftime("%m/%d") %></th>
      </tr>
      
      <tr>
        <th>所属 <%= @user.belong %></th>
        <th>氏名 <%= @user.name %></th>
        <th>コード</th>
        <th><%= @user.number %></th>
        <th>出勤日数
          <% if @attendance_count != nil %>
          <%= @attendance_count %>日
          <% else %>
          0日
          <% end %>
        </th>
        <th>締め <%= @last_day.strftime("%m/%d") %></th>
      </tr>
    </thead>
  </table>
  <% if current_user.superior? && overtime_test(@user, current_user) %>
    <p>
      【所属長承認申請のお知らせ】
      <% if @application_superior1 != nil && current_user.id == 2 %>
        <%= link_to "#{@application_superior1_count}件の通知があります", "#" %>
      <% elsif @application_superior2 != nil && current_user.id == 3 %>
        <%= link_to "#{@application_superior2_count}件の通知があります", "#" %>
      <% end %>
    </p>
    <p>
      【勤怠変更申請のお知らせ】
      <a href=""><%= "#{@attendance_me_count}件の通知があります" %></a>
    </p>
    <p class="overtime-modal-open">
      【残業申請のお知らせ】
      <a href="" data-toggle="modal" data-target="#modal-sample"><%= "#{@overtime_me_count}件の通知があります" %></a>
    </p>
  <% end %>
  <!-- 勤怠表示画面　勤怠編集ボタン -->
  <% if overtime_test(@user, current_user) %>
    <%= link_to "勤怠を編集", attendance_edit_path(params:{current_day: @current_day}), class: "btn btn-primary" %>
    <%= link_to "CSV出力", user_path(format: :csv, params:{current_day: @current_day}), class: "btn btn-primary" %><br>
    <%= link_to "勤怠修正ログ（承認済み）", "#", class: "btn btn-primary" %>
  <% end %>
  
  <!-- 勤怠表示画面　下のメインのテーブル -->
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th rowspan="2">残業申請</th>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認</th>
      </tr>
      
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <!-- 以下日付や曜日などデータ部分 -->
    <tbody>
      <!--<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->
      <% @date.each do |date| %>  <!-- 月初から月末までの繰り返しを変数dateに格納  -->
      <%# binding.pry %>
      <tr>
        <!-- 第一項：残業申請 -->
        <td class="modal-open">
          <% if overtime_test(@user, current_user) %>
            <a href="#<%= date.attendance_day.day %>" class="btn btn-primary">残業申請</a>
          <% end %>
        </td>
        <!-- 第二項：日付 -->
        <td><%= date.attendance_day.month %>/<%= date.attendance_day.day %></td>  <!-- 変数dateから月と日を取得 -->
        <!-- 第三項：曜日 -->
        <td><%= @week[date.attendance_day.wday] %></td>  <!-- wdayメソッドは、その日の曜日を数値で戻す。(日曜が0) -->
        <!-- 第四項：出社（hours) -->
        <td><%= date.beginning_time.hour if date.beginning_time != nil %></td>
        <!-- 第五項：出社（minitue）-->
        <td><%= date.beginning_time.min if date.beginning_time != nil %></td>
        <!-- 第六項：出社ボタン -->
        <td>
          <% if date.beginning_time.nil? && date.leaving_time.nil? && date.attendance_day == Date.today %>
            <%= button_to "出社", beginning_time_path, class: "btn btn-primary" %>
          <% end %>
        </td>
        <!-- 第七項：退社（hours） -->
        <td><%= date.leaving_time.hour if date.leaving_time != nil %></td>
        <!-- 第八項：退社（minitues） -->
        <td><%= date.leaving_time.min if date.leaving_time != nil %></td>
        <!-- 第九項：退社ボタン -->
        <td>
          <% if date.leaving_time.nil? && date.beginning_time != nil && date.attendance_day == Date.today %>
            <%= button_to "退社", leaving_time_path, class: "btn btn-primary" %>
          <% end %>
        </td>
        <!-- 第十項：在社時間（翌日対応） -->
        <td>
          <% if date.beginning_time != nil && date.leaving_time != nil %>
            <% if date.next_day != true %>
              <%= company_time_edit(date.leaving_time - date.beginning_time) %>  <!-- 勤怠B：company_time_editはUsersHelperで定義 -->
            <% else %>
              <%= company_time_edit((date.leaving_time+86400.0) - date.beginning_time) %>
            <% end %>
          <% end %>
        </td>
        <!-- 第十一項：備考 -->
        <td><%= date.note %></td>
        <!-- 第十二項：終了予定時間（hours） -->
        <td><%= date.scheduled_end_time.hour if date.scheduled_end_time != nil %></td>
        <!-- 第十三項：終了予定時間（minites） -->
        <td><%= date.scheduled_end_time.min if date.scheduled_end_time != nil %></td>
        <!-- 第十四項：時間外時間（翌日対応） -->
        <td>
          <% if @user.designate_end_time && date.scheduled_end_time != nil %>
            <%= overtime_hours(date.leaving_next_day, date.scheduled_end_time, @user.designate_end_time) %>
          <% end %>
        </td>
        <!-- 第十五項：業務処理内容 -->
        <td><%= date.business_outline if date.business_outline != nil %></td>
        <!-- 第十六項：指示者確認 -->
        <td>
          <% if date.instructor_test != nil %>
            <% if date.applying? %>
              残業申請：<%= User.find(date.instructor_test).name %>へ申請中
            <% elsif date.approval? %>
              残業申請：<%= User.find(date.instructor_test).name %>から承認
            <% elsif date.denial? %>
              残業申請：<%= User.find(date.instructor_test).name %>から否認
            <% end %>
          <% end %>
          <br/>
          <% if not date.attendance_test.blank? %>
            <% if date.work_applying? %>
              勤怠変更：<%= User.find(date.attendance_test).name %>へ申請中
            <% elsif date.work_approval? %>
              勤怠変更：<%= User.find(date.attendance_test).name %>から承認
            <% elsif date.work_denial? %>
              勤怠変更：<%= User.find(date.attendance_test).name %>から否認
            <% end %>
          <% end %>
        </td>
      </tr>
      <%# binding.pry %>
      <% end %>
      <td colspan="2">
        総合勤務時間
        <% if @user.basic_work_time != nil && @attendance_count != nil %>
          <%= number_with_precision basic_info_edit(@user.basic_work_time).to_f * @attendance_count.to_f, precision:2 %>
        <% else @attendance_count == nil %>
          0.00
        <% end %>
      </td>
      <td colspan="6"></td>
      <td></td>
      <td>
        在社時間の合計
        <% if @company_time != nil %>
          <%= total_company_edit(@total_company_time) %>
        <% else @company_time == nil %>
          0.00
        <% end %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <% if overtime_test(@user, current_user) %>
          <% if @request_user == nil %>
            勤怠申請：なし
          <% elsif @request_user.authorizer_user_test == 2 %>
            勤怠申請：<%= User.find(@request_user.authorizer_user_test).name %>に申請中
          <% elsif @request_user.authorizer_user_test == 3 %>
            勤怠申請：<%= User.find(@request_user.authorizer_user_test).name %>に申請中
          <% end %>
          <%= form_for(@application_user, url: attendance_month_update_path, method: :post) do |f| %>
            <%= f.hidden_field :year, :value => @current_day.year %>
            <%= f.hidden_field :month, :value => @current_day.month %>
            <%#= f.hidden_field :month_attendance, :value => @date %>
            <%= f.hidden_field :application_user_id, :value => @user.id %>
            <%= f.hidden_field :application_date, :value => @current_day %>
            <%# if current_user.superior? %>
              <%#= f.select :authorizer_user_test, [@superior], :include_blank => true %>
            <%# else %>
            <%= f.collection_select :authorizer_user_test, @superiors, :id, :name, :include_blank => true %>
            <%# end %>
            <%= f.submit "申請", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </td>
    </tbody>
  </table>
  <!-- 一日分の残業申請フォーム（モーダルで表示） -->
  <div style="display:none">
    <% @date.each do |date| %>
      <div class ="white-popup mfp-with-anim mfp-hide" id="<%= date.attendance_day.day %>" style="background-color:white">
        <h3 align="center" style="padding-top:15px">残業申請</h3>
        <%= form_for(date, url: attendance_overtime_update_path, method: :post) do |f| %>
        <%= f.hidden_field :id, :value => date.id %> <!-- attendancesテーブルのidを渡す -->
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :current_day, :value => @current_day %>
          <table class="txt1 table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間（必須）</th>
                <th>翌日</th>
                <th>業務処理内容</th>
                <th>指示者確認（必須）</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- 日付 -->
                <td><%= date.attendance_day.month %>/<%= date.attendance_day.day %></td>
                <!-- 曜日 -->
                <td><%= @week[date.attendance_day.wday] %></td>
                <!-- 終了予定時間 -->
                <td><%= f.time_field :scheduled_end_time, class: 'form-control' %> </td>
                <!-- 翌日　チェックボックス -->
                <td><%= f.check_box :leaving_next_day, id: :leaving_next_day, :as => :boolean %></td>
                <!-- 業務処理内容 -->
                <td><%= f.text_field :business_outline, class: 'form-controll' %></td>
                <!-- 指示者確認 -->
                <td>
                  <%= f.collection_select :instructor_test, @superiors, :id, :name, :include_blank => true %>
                </td>
              </tr>
            </tbody>
          </table>
          <%= f.submit "残業を申請する", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <!-- 上長が残業申請を確認 モーダルで表示 -->
  <div class="modal fade" id="modal-sample" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <%= form_for(@overtime_user, url: authorizer_overtime_update_path, method: :post) do |df| %>
        <% @overtime_me.each do |d| %>
          <%= df.hidden_field :application_id, :value => d.user.id %>
          <%= df.hidden_field :attendance_id, :value => d.id %>
          <%= df.hidden_field :change_test, :value => d.change %>
          <%= df.hidden_field :authorizer_id, :value => @user.id %>
          <%= df.hidden_field :current_day, :value => @current_day %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 align="center" class="modal-title" id="modal-label"><%= "#{d.user.name}からの残業申請" %></h3>
            <div class="modal-body">
              <table class="txt1 table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時間</th>
                    <th>指定勤務終了時間</th>
                    <th>時間外時間</th>
                    <th>業務処理内容</th>
                    <th>指示者確認</th>
                    <th>変更</th>
                    <th>勤怠を確認</th>
                  </tr>
                </thead>
                <tbody>
                  <%= fields_for "overtime[]", d do |ot| %>
                  <%# binding.pry %>
                  <tr>
                    <!-- 日付 -->
                    <td><%= d.attendance_day.month %>/<%= d.attendance_day.day %></td>
                    <!-- 曜日 -->
                    <td><%= @week[d.attendance_day.wday] %></td>
                    <!-- 終了予定時間 -->
                    <td>
                    <% if d.scheduled_end_time != nil %>
                      <%= d.scheduled_end_time.strftime("%H:%M") %>
                    <% end %>
                    </td>
                    <!-- 指定勤務終了時間 -->
                    <td>
                      <%= basic_info_edit(d.user.designate_end_time) if d.user.designate_end_time != nil %>
                    </td>
                    <!-- 時間外時間 -->
                    <td>
                      <% if d.user.designate_end_time && d.scheduled_end_time != nil %>
                        <%= overtime_hours(d.leaving_next_day, d.scheduled_end_time, d.user.designate_end_time) %>
                      <% end %>
                    </td>
                    <!-- 業務処理内容 -->
                    <td><%= d.business_outline if d.business_outline != nil %></td>
                    <!-- 指示者確認 -->
                    <td><%= ot.select :application_status, Attendance.application_statuses.keys.to_a, :include_blank => true if d.application_status != nil %></td>
                    <!-- 変更 -->
                    <td><%= ot.check_box :change %></td>
                    <!-- 勤怠を確認 -->
                    <td><%= link_to "確認", "/users/#{d.user.id}", class: "btn btn-primary" %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
        <div class="modal-footer">
          <%= df.submit "変更を送信する", class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <!-- 勤怠変更の承認フォーム　モーダルで表示 -->
  <%= form_for(@overtime_user, url: authorizer_attendance_update_path, method: :post) do |ou| %>
    <% @attendance_me.each do |am| %>
      
    <% end %>
  <% end %>
</div>

<script>
// 1日分の残業申請フォーム　モーダル表示
  $(".modal-open").magnificPopup({
  delegate: 'a'
  // removalDelay: 500,
  // callbacks:{
  //   beforeOpen: function() {
  //     this.st.mainClass = this.st.el.attr('data-effect');
  //   },
  // },
});
</script>

      