<%# リスト 13.39: マイクロポスト投稿フォームのパーシャル %>
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "新しい投稿文を作成..." %>
  </div>
  <%= f.submit "投稿する", class: "btn outline btn-primary" %>
  <%# リスト 13.60: マイクロポスト投稿フォームに画像アップローダーを追加→リスト 13.66 %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<%# リスト 13.66: ファイルサイズをjQueryでチェックする %>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MB以下のファイルを選択してください。');
    }
  });
</script>