<%# リスト 13.22: 1つのマイクロポストを表示するパーシャル %>
<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%# リスト 13.62: マイクロポストの画像表示を追加 %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <%# リスト 13.51: マイクロポストのパーシャルに削除リンクを追加 %>
    <% if current_user?(micropost.user) %>
      <%= link_to "削除する", micropost, method: :delete,
                                       data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </span>
</li>