<% provide(:title,  "勤怠ログ") %>
<h1>勤怠承認ログ</h1>

<button type="reset" class="btn btn-default clearForm" id="reset">リセット</button>

<div class="dropdown" id="year">
  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" aria-expanded="false">年<b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li id="2017"><a>2017</a></li>
      <li id="2018"><a>2018</a></li>
      <li id="2019"><a>2019</a></li>
    </ul>
    <input type="text" placeholder="2019" readonly="true" style="background-color: #EEE; width: 20%;">
</div>
<div class="dropdown" id="month">
  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" aria-expanded="false">月<b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      <li id="1"><a href="#">1</a></li>
      <li id="2"><a href="#">2</a></li>
      <li id="3"><a href="#">3</a></li>
      <li id="4"><a href="#">4</a></li>
      <li id="5"><a href="#">5</a></li>
      <li id="6"><a href="#">6</a></li>
      <li id="7"><a>7</a></li>
      <li id="8"><a>8</a></li>
      <li id="9"><a>9</a></li>
      <li id="10"><a>10</a></li>
      <li id="11"><a>11</a></li>
      <li id="12"><a>12</a></li>
    </ul>
    <input type="text" placeholder="5" readonly="true" style="background-color: #EEE; width: 20%;">
</div>
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社時間</th>
      <th>変更後退社時間</th>
      <th>指示者</th>
      <th>承認日</th>
    </tr>
  </thead>
  
  <tbody>
    <% @approval.each do |approval| %>
    <%# binding.pry %>
    <tr>
      <!-- 第一項：日付 -->
      <td><%= approval.attendance_day.month %>/<%= approval.attendance_day.day %></td>
      <!-- 第二項：変更前出社時間 -->
      <td>
        <% if approval.before_beginning_time %>
          <%= approval.before_beginning_time.hour %>:<%= approval.before_beginning_time.min %>
        <% end %>
      </td>
      <!-- 第三項：変更前退社時間 -->
      <td>
        <% if approval.before_leaving_time != nil %>
          <%= approval.before_leaving_time.hour %>:<%= approval.before_leaving_time.min %>
        <% end %>
      </td>
      <!-- 第四項：変更後出社時間 -->
      <td><%= approval.beginning_time.hour %>:<%= approval.beginning_time.min %></td>
      <!-- 第五項：変更後退社時間 -->
      <td><%= approval.leaving_time.hour %>:<%= approval.leaving_time.min %></td>
      <!-- 第六項：指示者確認 -->
      <td><%= User.find(approval.attendance_test).name %></td>
      <!-- 第七項：承認日 -->
      <td><%= approval.attendance_approval_date.month %>/<%= approval.attendance_approval_date.day %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<script>src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"</script>
<script>
  $(function(){
    year = moment().format('YYYY')
		month = moment().format('MM')
		
    $("#month li").click(function(){
      var month = $(this).attr("id");
      $("#month input").val(month);
      
      $.ajax({
        type:'GET', // リクエストのタイプはGET
        url: '/approval_histories/index', // URLを指定
        data: {year: year, month: month}, // コントローラへフォームの値を送信
        dataType: 'json' // データの型はjson
      })
      
      .done(function(data){
        // 通信に成功した場合の処理
        $('tbody').find('tr').remove();
        $('tbody').find('td').remove();
        
        (data).each(function(i, approval_history){
          approval_history.before_beginning_time == null ?
          before_beginning_time = '' : before_beginning_time = moment(approval_history.before_beginning_time).format('HH:mm');
          approval_history.before_leaving_time == null ?
          before_leaving_time = '' : before_leaving_time = moment(approval_history.before_leaving_time).format('HH:mm');
          approval_history.beginning_time == null ?
          beginning_time = '' : beginning_time = moment(approval_history.beginning_time).format('HH:mm');
          approval_history.leaving_time == null ?
          leaving_time = '' : leaving_time = moment(approval_history.leaving_time).format('HH:mm');
          
          $('tbody').append(
            $("<tr>")
            .append("<td>" + approval_history.attendance_day + "</td>")
            .append("<td>" + before_beginning_time + "</td>")
            .append("<td>" + before_leaving_time + "</td>")
            .append("<td>" + beginning_time + "</td>")
            .append("<td>" + leaving_time + "</td>")
            .append("<td>" + approval_history.attendance_test.name + "</td>")
            // ここに承認日が入る
            .append("</tr>")
          )
        })
      })
    });
  });

</script>


<!--$("#year li").click(function(){-->
<!--      var year = $(this).attr("id");-->
<!--      $("#year input").val(year);-->





