<% provide(:title, "勤怠編集ページ") %>
<h1>勤怠編集ページ</h1>
<h2><%= @user.name %>さんの勤怠編集データを表示</h2>
<div class="row">
  <%= form_for(@user, url: attendance_update_path, method: :post) do |f| %>
  <%# 勤怠編集更新時、パラメーターで値を渡す %>
  <%= hidden_field_tag :current_day, @current_day %>
  <%= f.hidden_field :id, :value => @user.id %>
  
    <!-- 勤怠B：勤怠編集テーブルヘッダー部分 -->
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th>備考</th>
          <th>指示者確認</th>
        </tr>
      </thead>
      
      <!-- 勤怠B:勤怠編集テーブルデータ部分 -->
      <tbody>
        <div class="col-md-6 col-md-offset-3">
          <% @date.each do |date| %>
            <%= fields_for "attendances[]", date do |a| %>
              <tr>
                <!-- 第一項：日付 -->
                <td><%= date.attendance_day.month %>/<%= date.attendance_day.day %></td>
                <!-- 第二項：曜日 -->
                <td><%= @week[date.attendance_day.wday] %></td>
                <!-- 第三項：出社時間 -->
                <td>
                  <% if date.attendance_day > Date.today %>
                    <%= a.time_field :beginning_time, class: 'form-control', :readonly => true %>
                  <% else %>
                    <%= a.time_field :beginning_time, class: 'form-control' %>
                  <% end %>
                </td>
                <!-- 第四項：退社時間 -->
                <td>
                  <% if date.attendance_day > Date.today %>
                    <%= a.time_field :leaving_time, class: 'form-control', :readonly => true %>
                  <% else %>
                    <%= a.time_field :leaving_time, class: 'form-control' %>
                  <% end %>
                </td>
                <!-- 第五項：翌日 -->
                <td></td>
                <!-- 第六項：在社時間 -->
                <td>
                  <% if date.beginning_time != nil && date.leaving_time != nil %>
                    <%= company_time_edit(date.leaving_time - date.beginning_time) %>  <!-- 勤怠B：company_time_editはUsersHelperで定義 -->
                  <% end %>
                </td>
                <!-- 第七項：備考 -->
                <td>
                  <%= a.text_field :note, class: 'form-controll' %>
                </td>
                <!-- 第八項：指示者確認 -->
                <td></td>
              </tr>
            <% end %>
          <% end %>
        </div>
      </tbody>
    </table>
    <div class="attendance">
      <%= f.submit "編集を保存する", url: attendance_update_path, method: :post, class: "btn btn-primary" %>
    </div>
    <div class="attendance_button">
      <%= link_to "キャンセル", user_path, class: "btn btncancel btn-primary" %>
    </div>
  <% end %>
</div>

